<Row Gutter="8">
    <AntDesign.Col Span="12">
        <EditForm Model="overtimeFilterModel" OnSubmit="e => SearchAsync()">
            <Row Gutter="8">
                <AntDesign.Col Span="6">
                    <Select TItemValue="string" TItem="string"
                            Value="@overtimeFilterModel?.ApprovalStatus.ToString()" EnableSearch
                            OnSelectedItemChanged="e => ApprovalStatusChangeAsync(e)">
                        <SelectOptions>
                            @foreach (var item in overtimeFilterModel.DataSource[overtimeFilterModel.Property.NameProperty(c => c.ApprovalStatus)])
                            {
                                <SelectOption TItemValue="string" TItem="string" Value="@item.Key" Label="@item.Value?.GetDisplay()" />
                            }
                        </SelectOptions>
                    </Select>
                </AntDesign.Col>
                <AntDesign.Col Span="4">
                    <Select TItemValue="string" TItem="string"
                            Value="@overtimeFilterModel?.Year"
                            OnSelectedItemChanged="e => YearChangeAsync(e)">
                        <SelectOptions>
                            @foreach (var item in overtimeFilterModel.DataSource[overtimeFilterModel.Property.NameProperty(c => c.Year)])
                            {
                                <SelectOption TItemValue="string" TItem="string" Value="@item.Key" Label="@item.Value?.GetDisplay()" />
                            }
                        </SelectOptions>
                    </Select>
                </AntDesign.Col>
                <AntDesign.Col Span="4">
                    <Select TItemValue="string" TItem="string"
                            Value="@overtimeFilterModel?.Month"
                            OnSelectedItemChanged="e => SearchMonthChangedAsync(e)">
                        <SelectOptions>
                            @foreach (var item in overtimeFilterModel.DataSource[overtimeFilterModel.Property.NameProperty(c => c.Month)])
                            {
                                <SelectOption TItemValue="string" TItem="string" Value="@item.Key" Label="@item.Value?.GetDisplay()" />
                            }
                        </SelectOptions>
                    </Select>
                </AntDesign.Col>

                <AntDesign.Col Span="2" Class="flex-start-end">
                    <Button Type="@ButtonType.Primary" Icon="search" HtmlType="submit">Tìm kiếm</Button>
                </AntDesign.Col>
            </Row>
        </EditForm>
        <Row Gutter="8">
            <AntDesign.Col Span="24">
                <Table @ref="table" TItem="OvertimeViewModel" DataSource="@OvertimeViewModels"
                       ScrollBarWidth="10px"
                       Total="overtimeFilterModel.Page.Total" ScrollY="500px"
                       Loading="loading"
                       PageIndex="overtimeFilterModel.Page.PageIndex"
                       PageSize="overtimeFilterModel.Page.PageSize"
                       OnPageIndexChange="PageIndexChangeAsync"
                       OnPageSizeChange="PageSizeChangeAsync"
                       OnRowClick="OnRowClick">
                    <Column @bind-Field="@context.Stt" Width="50"></Column>
                    <Column @bind-Field="@context.RegisterDate" Format="dd/MM/yyyy"></Column>
                    <Column @bind-Field="@context.StartTime" Format="HH:mm"></Column>
                    <Column @bind-Field="@context.EndTime" Format="HH:mm"></Column>
                    <Column @bind-Field="@context.TotalHour">@context.TotalHour.ToDecimalFormatDot().ToFormatedNumber() </Column>
                    <Column @bind-Field="@context.ApprovalStatus">
                        <Template>
                            @if (context.ApprovalStatus == ApprovalStatus.Pending)
                            {
                                <AntDesign.Text Copyable="false" Class="primary-text">@context.ApprovalStatus.GetDescription()</AntDesign.Text>
                            }
                            else if (context.ApprovalStatus == ApprovalStatus.Approved)
                            {
                                <AntDesign.Text Copyable="false" Type="success">@context.ApprovalStatus.GetDescription()</AntDesign.Text>
                            }
                            else
                            {
                                <AntDesign.Text Copyable="false" Type="danger">@context.ApprovalStatus.GetDescription()</AntDesign.Text>
                            }
                        </Template>
                    </Column>
                    <Column @bind-Field="@context.NotApprovedReason"></Column>
                </Table>
            </AntDesign.Col>
        </Row>
    </AntDesign.Col>
    <AntDesign.Col Span="12">
        <OvertimeDetail @ref="overtimeDetail" ValueChanged="SaveDetailAsync" CreatorObject="CreatorObject.Staff"></OvertimeDetail>
    </AntDesign.Col>
</Row>