@inject NavigationManager NavigationManager
@inject PermissionClaim PermissionClaim


<div class="top-row pl-4 navbar navbar-dark">
    <Button Type="primary" OnClick="ToggleCollapsed" Style="margin-bottom: 16px">
        @if (collapsed)
        {
            <Icon Type="menu-unfold" Theme="outline"></Icon>
        }
        else
        {
            <Icon Type="menu-fold" Theme="outline"></Icon>
        }
    </Button>
    @if (!collapsed)
    {
        <span style="color: white; margin-top: -10px;">
            SoftDream HRM
        </span>
    }
</div>
<Menu Theme="MenuTheme.Dark"
      Mode=MenuMode.Inline
      InlineCollapsed=collapsed>
    @if (PermissionClaim.IsSystemMenuVisible())
    {
        <MenuItem Key="1" OnClick="@(() => Go("/he-thong/nhom-quyen"))">
            <IconTemplate>
                <Icon Type="setting" Theme="outline" />
            </IconTemplate>
            <ChildContent>
                <Button Type="@ButtonType.Text" Style="color: white">Quản lý tài khoản</Button>
            </ChildContent>
        </MenuItem>
    }
    <MenuItem Key="2" OnClick="@(() => Go("/ca-nhan/thong-tin-ca-nhan"))">
        <IconTemplate>
            <Icon Type="team" Theme="outline" />
        </IconTemplate>
        <ChildContent>
            <Button Type="@ButtonType.Text" Style="color: white">Cá nhân</Button>
        </ChildContent>
    </MenuItem>
    @if (PermissionClaim.IsProfileMenuVisible())
    {
        <MenuItem Key="3" OnClick="@(() => Go("/thong-tin-nhan-su/ho-so-nhan-vien"))">
            <IconTemplate>
                <Icon Type="solution" Theme="outline" />
            </IconTemplate>
            <ChildContent>
                <Button Type="@ButtonType.Text" Style="color: white">Quản ký nhân sự</Button>
            </ChildContent>
        </MenuItem>
    }
    @if (PermissionClaim.IsTimekeepingMenuVisible())
    {
        <MenuItem Key="4" OnClick="@(() => Go("/cham-cong/xep-ca-lam-viec"))">
            <IconTemplate>
                <Icon Type="qrcode" Theme="outline" />
            </IconTemplate>
            <ChildContent>
                <Button Type="@ButtonType.Text" Style="color: white">Quản lý chấm công</Button>
            </ChildContent>
        </MenuItem>
    }
    @if (PermissionClaim.IsTimekeepingMenuVisible())
    {
        <MenuItem Key="5" OnClick="@(() => Go("/cham-cong/xep-ca-lam-viec"))">
            <IconTemplate>
                <Icon Type="dollar" Theme="outline" />
            </IconTemplate>
            <ChildContent>
                <Button Type="@ButtonType.Text" Style="color: white">Quản lý lương</Button>
            </ChildContent>
        </MenuItem>
    }
    
    
    
    
    
</Menu>
@code {

    bool collapsed = false;
    void ToggleCollapsed()
    {
        collapsed = !collapsed;
    }
    RenderFragment TaiKhoan =
    @<span>
        <Icon Type="user" Theme="outline" />
        <span>Tài khoản</span>
    </span>;

    void Go(string url)
    {
        try
        {
            NavigationManager.NavigateTo(url);
        }
        catch (Exception ex)
        {
            throw;
        }
    }
}
